html {
    filter: brightness(0.9);
}

body {
    font-family: "Arial", sans-serif;
    text-align: center;
    background-color: #28a745;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(255, 215, 0, 0.25); /* Set the background color to gold with 75% opacity */
    border: none; /* Remove border */
    border-radius: 50%; /* Make the button circular */
    width: 80px; /* Set the width */
    height: 80px; /* Set the height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    /* Removed transition for smooth effect */
}

    .carousel-control-prev:hover,
    .carousel-control-next:hover {
        background-color: rgba(255, 215, 0, 0.9); /* Change background color to gold with 90% opacity on hover */
    }

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #000; /* Set icon color */
}

.gold-text {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    color: #ffe599; /* Lighter gold color */
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), /* Larger shadow with higher opacity */
    0 0 30px rgba(255, 215, 0, 0.6), /* Slightly larger shadow with reduced opacity */
    0 0 40px rgba(255, 215, 0, 0.4), /* Smaller shadow with further reduced opacity */
    0 0 50px rgba(255, 215, 0, 0.2); /* Smallest shadow with lowest opacity */
    /* Removed animation */
}

/* Removed @keyframes flicker */

.large-shadow-text {
    font-size: 1.5rem;
    color: #fff; /* White color */
    text-align: justify;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Larger shadow */
}

.large-shadow-text-foot {
    font-size: 1.5rem;
    color: #fff; /* White color */
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Larger shadow */
}

#loginModal .modal-content {
    background-image: url('logos/kalilayl2.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
