body {
    background-color: #f8f9fa;
}

.card {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-back {
    display: flex;
    align-items: center;
    gap: 5px;
}

.modal-content {
    text-align: center;
    padding: 20px;
}

.table th, .table td {
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
    }
}
